body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
/* ********************************************header*****************************************************************************+ */

/* ***************************************MENU************************************************************************* */

.menu{
    background: white;
    position: fixed;
    bottom: 0;
    width: 104%;
    margin-left: -10%;
}
.menu ul{
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 }

.menu ul li{
    list-style: none;
}

.menu ul li a{
    text-decoration: none;
}

.menu ul li a i{
    font-size: 25px;
    color: var(--color-icon);
}

.menu ul li a i:hover{
    color: var(--color-primary);
    transition: color 0.5s ease-in-out;
}

/* ********************************************header*****************************************************************************+ */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.header-left {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.header-right img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .header {
        flex-direction: row;
        text-align: center;
    }
    .header-left, .header-right {
        margin-bottom: 10px;
        background: white;
    }
}

/* *********************************************CONTENT*********************************************************************************+ */

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.content-left {
    flex: 1;
    background: white;
}

.content-right{
    background: white;
}

.content-right img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .content {
        flex-direction: row;
        text-align: left;
        padding: 8px;
    }
    .content-left, .content-right {
        margin-bottom: 10px;
        align-items: center;
    }

    .content-left input{
        width: 70%;
        height: 40px;
    }
}

/* *********************************carousel*********************** */

.carousel {
    padding: 20px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    gap: 10px;
}

.slide {
    flex: 0 0 auto;
    scroll-snap-align: start; 
}

.slide img {
    width: 100%;
}

/* ************************************GALERIA******************************************************************+ */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0px;
    padding-bottom: 50px;
}

.item {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.item .content {
    margin-top: 10px;
}

.item h3,
.item p {
    margin: 0;
}

.item .more-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item .more-info h2 {
    margin-right: 10px;
}

.content_item{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: left;
    gap: 10px;
    background: white;
}

/* ***********************************************CENTER********************************************************* */

.container_center {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 10px; 
    padding-bottom: 20px;
}

.mobile-image_center {
    max-width: 100%;
    max-height: 100%;
}

/* ******************************************CENTER CONTADOR******************************* */

.counter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.counter-direction_contador {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;   
}

.counter-direction_contador h1{
    font-size: 16px;
}

.buttons-container_contador{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.round-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: white;
    color: black;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
    border: 1px solid gray;
}

.counter-number {
    font-size: 24px;
}

.center_texto{
    padding: 10px;
    margin: 0 10px;
    width: 80%;
}

.center_texto_Dentro{
    padding: 10px;
}

.center_texto_Dentro_ABAJO{
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    gap: 50px;
}

.center_texto_Dentro_ABAJO_botones, .center_texto_Dentro_masABAJO_botones{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 15px;
}

.center_texto_Dentro_ABAJO_botones p, .center_texto_Dentro_masABAJO_botones p{
    border: 1px solid black;
    padding: 5px;
    border-radius: 100%;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: center;
    text-align: center;
}

.center_texto_Dentro_ABAJO_botones p:hover, .center_texto_Dentro_masABAJO_botones p:hover{
    background: black;
    color: white;
}

.center_texto_Dentro_ABAJO{
    padding-bottom: 50px;
}

.center_button{
    padding-bottom: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.center_button button{
    background: black;
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
}


/* ****************************************************************RIGTH******************************************************************** */

header {
    text-align: center;
}

.header-image {
    width: 80%;
    height: 80px;
    display: block;
    margin: 0 auto;
}


.image-container_right {
    max-height: 50vh;
    overflow-y: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    gap: 40px;
}

.image-container_right img {
    width: 100%;
    margin-bottom: 10px;
}

.content_rigth_abajo {
    text-align: left;
    padding: 20px;
    padding-bottom: 80px;
}

.content_rigth_abajo img{
    width: 100%;
}

.content_rigth_abajo h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.content-image_right {
    width: 80%;
    margin-bottom: 20px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 20px;
}

.info-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 10px;
}

.info-row p {
    font-size: 18px;
}

.action-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}

