<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulacro Web</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="menu">
        <ul>
            <li>
                <a href="../index.html"><i class='bx bxs-castle'></i></a>
            </li>
            <li>
                <a href="#"><i class='bx bxs-heart'></i></a>
            </li>
            <li>
                <a href="rigth.html"><i class='bx bx-shopping-bag'></i></a>
            </li>
        </ul>
    </nav>
    <div class="container_center">
        <img src="../storage/img/Image Preview.png" alt="Imagen" class="mobile-image_center">
    </div>
    <div class="counter-container">
        <div class="counter-container_contador">
            <div class="counter-direction_contador">
                <h1>MOther Light CLothes:</h1>
                <div class="buttons-container_contador">
                    <button class="round-button minus-button">-</button>
                    <span class="counter-number">1</span>
                    <button class="round-button plus-button">+</button>
                </div>
            </div>
        </div>
    </div>
    <div class="center_texto">
        <div class="center_texto_Dentro">
            <p>🌟🌟🌟🌟🌟 5.0 (7.932 reviews) </p>
            <p>Its simple and elegant shape makes it perfect for
                those of you who like you who want minimalist
                clothes Read More. . .</p>
        </div>
        <div class="center_texto_Dentro_ABAJO">
            <div class="center_texto_Dentro_ABAJO_h4">
                <h4>
                    Choose Size
                </h4>
                <div class="center_texto_Dentro_ABAJO_botones">
                    <p>S</p>
                    <p>M</p>
                    <p>L</p>
                    <p>XL</p>
                </div>
            </div>
            <div class="center_texto_Dentro_masABAJO_h4">
                <h4>
                    Color
                </h4>
                <div class="center_texto_Dentro_masABAJO_botones">
                    <p>.</p>
                    <p class="negro">.</p>
                    <p class="negro">.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="center_button">
        <button>Add to Cart | $100.99 $190.99</button>  
    </div>