<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulacro Web</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="menu">
        <ul>
            <li>
                <a href="../index.html"><i class='bx bxs-castle'></i></a>
            </li>
            <li>
                <a href="center.html"><i class='bx bxs-heart'></i></a>
            </li>
            <li>
                <a href="#"><i class='bx bx-shopping-bag'></i></a>
            </li>
        </ul>
    </nav>
    <header>
        <img src="../storage/img/Checkout.png" alt="Imagen de encabezado" class="header-image">
    </header>
    <div class="image-container_right">
        <img src="../storage/img/Cart 1.png" alt="Imagen 1">
        <img src="../storage/img/Cart 2.png" alt="Imagen 1">
        <img src="../storage/img/Cart 3.png" alt="Imagen 1">
        <img src="../storage/img/Cart 1.png" alt="Imagen 1">
        <img src="../storage/img/Cart 2.png" alt="Imagen 1">
        <img src="../storage/img/Cart 3.png" alt="Imagen 1">
        <img src="../storage/img/Cart 1.png" alt="Imagen 1">
        <img src="../storage/img/Cart 2.png" alt="Imagen 1">
        <img src="../storage/img/Cart 3.png" alt="Imagen 1">
        <img src="../storage/img/Cart 1.png" alt="Imagen 1">
        <img src="../storage/img/Cart 2.png" alt="Imagen 1">
        <img src="../storage/img/Cart 3.png" alt="Imagen 1">
    </div>
    <div class="content_rigth_abajo">
        <h1>Shipping information</h1>
        <img src="../storage/img/Card.png" alt="Imagen" class="content-image_right">
        <div class="info-container">
            <div class="info-row">
                <p>Total (9 items)</p>
                <p>$131.97</p>
            </div>
            <div class="info-row">
                <p>Shipping Fee</p>
                <p>$.0.00</p>
            </div>
            <div class="info-row">
                <p>Sub Total</p>
                <p>$131.97</p>
            </div>
        </div>
        <button class="action-button">Pay</button>
    </div>